@{
    ViewBag.Title = "Home Page";
}

<h1 style="background-color: white; text-shadow: 0px 1px 1px #000000;">About us</h1>

<body style="text-align: justify">
    <div class="container" style="background-color: white">
        <p>
            Our <strong>mission</strong> is to increase the awareness of the public of the current situation in the security envronment in the world as a whole and in the close proximity of the Republic of Bulgaria in particular.
        </p>
        <hr />
        <p>
            Our <strong>team</strong> includes highly experienced researchers that have worked for the best state and private organizations that are providing analytical support in the sphere of security and defence.
        </p>
        <hr />
        <p>
            Our <strong>funding</strong> is entirely independent which guarantees high quality of the scientific article and excludes the possibility of intentional distortion of the information.
        </p>
        <hr />
        <p>
            Our <strong>structure</strong> is adapting to the ever-changing security environment and it roughly repeats the categories of the scientific articles. We do acknowledge the decreasing viability of the idea for separation of the sources of challenges, threats and risks in the current technological, economic and political situation.
        </p>
        <hr />
    </div>
</body>